.portfolio {
    .title {
        text-align: center;
        font-family: Switzer;
        font-size: 16.327px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        background: var(
            --Primary-Title-text,
            radial-gradient(124.15% 55.87% at 50% 50%, #fff 15.42%, rgba(255, 255, 255, 0.4) 100%)
        );
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .swiper {
        width: 100%;
        height: 230px !important;
        background: rgba(0,0,0,0.5);
        .swiper-pagination-bullet-active {
            width: 24px !important;
            height: 6px !important;
            border-radius: 12px !important;
            background: var(
                --Primary-Radi,
                radial-gradient(184.5% 115.57% at 24.58% 0%, #fff6d6 0%, #eec472 52.4%, #ff8f76 100%)
            ) !important;
        }

        .swiper-pagination-bullet {
            width: 7px;
            height: 6px;
            border-radius: 12px;
            background: rgba(255, 255, 255, 0.4);
            backdrop-filter: blur(2px);
        }
    }

    @media (min-width: 768px) {
        .swiper {
            display: none !important;
        }
    }
}
